body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.drop-box {
	background: #FBFBF8;
	border: 5px dashed #EEE;
	width: 100%;
	text-align: center;
	padding: 30px; 
}