<div ng-repeat="alert in alerts" class="alert alert-{{alert.level}} fade in">{{alert.message}} 
  <span data-toggle="collapse" data-parent="#accordion" href="#collapse{{$index}}" ng-show="(alert.debug_data)" class="alert-link">
    See more
  </span>
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  <br/>
  <div id="collapse{{$index}}" class="panel-collapse collapse" ng-show="(alert.debug_data)">
    <div class="panel-body">
      {{alert.debug_data}}
    </div>
  </div>
</div>