<div class="panel panel-default">
  <master-Top-Menu 
  title=" 'Dashboard' " 
  selected-Data="selected_assignments"
  data="assignments"
  button-Functions="button_functions" 
  back-Function="back"
  params = "params"
  total-rows=" totalRows "
  >
  </master-Top-Menu>
</div>
<div class="panel ">
  <div class="panel-body">
    <div class="row">

      <div class="col-xs-12 col-sm-3 col-md-3">
        <master-Menu/>
        <hr/>
        <h4>Directions</h4>
        <ul>
          <li ng-repeat="direction in directions">{{direction}}</li>
        </ul>


      </div>

      <div class="col-xs-12 col-sm-9 col-md-9">
        <!-- Tab panes -->
        <div class="tab-content">
          <div class="tab-pane active" id="documents">
            <master-Table columns="columns" data="assignments" table-Row-Click="details" table-Row-Select="toggle_select" search-Query="query">
              
            </master-Table>
            
          </div>
  
        </div>

      </div>

    </div>

  </div><!-- /.panel-body -->
</div><!-- /.panel -->