<div class="panel panel-default">
  <master-Top-Menu 
  title=" 'Dashboard' " 
  selected-Data="selected_batches"
  data="batches"
  button-Functions="button_functions" 
  back-Function="back"
  params = "params"
  total-rows=" totalRows "
  toggle-select-all-function="toggle_select_all"
  >
  </master-Top-Menu>
</div>
<div class="panel ">
  <div class="panel-body">
    <div class="row">

      <div class="col-xs-12 col-sm-3 col-md-3">
        <master-Menu/>
        <hr/>
        <h4>Directions</h4>
        <ul>
          <li ng-repeat="direction in directions">{{direction}}</li>
        </ul>

      </div>

      <div class="col-xs-12 col-sm-9 col-md-9">
      
        <master-Alerts alerts="alerts">
        </master-Alerts>
      
        <!-- Tab panes -->
        <div class="tab-content">
          <div class="tab-pane active" id="batches">
            <master-Table columns="columns" data="batches" table-Row-Click="details" table-Row-Select="toggle_select" search-Query="query">
            </master-Table>
            
             <div class="list-group">
                <!-- Links to detail level -->
                <a ng-repeat="file in selected_batches">{{ file }}</a><br><br>
             </div>
            
          </div>
        
        </div>

      </div>

    </div>

  </div><!-- /.panel-body -->
</div><!-- /.panel -->

<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="deleteModalLabel">Delete</h4>
      </div>
      <div class="modal-body">
        Are you sure you want to delete {{selected_batches.length}} batches
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" ng-click="delete()">Delete</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="publishModal" tabindex="-1" role="dialog" aria-labelledby="publishModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="publishModalLabel">publish</h4>
      </div>
      <div class="modal-body">
        Are you sure you want to publish this batch
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" ng-click="delete()">Delete</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="assignModal" tabindex="-1" role="dialog" aria-labelledby="assignModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="deleteModalLabel">Create A Batch Assignment</h4>
      </div>
      <div class="modal-body" style="text-align:center;">
        <!-- Single button -->
        <label>Task</label> <span class="text-danger"><b>*</b></span><br/>
        <dropdown 
          ng-Model = "assignment.type"
          placeholder = " 'Select Task' "
          text_field = " 'name' "
          text_value = " 'id' "
          options = " [{name:'Code', id:2}] "
          return-Object = " 'true' "
        >
        </dropdown>
        <br/>
        <br/>
        <div>
          <label>Assignee</label> <span class="text-danger"><b>*</b></span><br/>
          <dropdown 
            ng-Model = "assignment.user"
            placeholder = " 'Select Assignee' "
            options = "users"
            text_field = " 'name' "
            return-Object = " 'true' "
          >
          </dropdown>
        </div>
        <br/>
        <div>
          <label>Due Date</label> <span class="text-danger"><b>*</b></span><br/>
          <input name="date" type="date" class="form-control" id="inputDate" value="11/04/2014" ng-model="assignment.date_due" required>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" ng-click="assign()" >Assign</button>
      </div>
      
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

