<div class="panel panel-default">
  <master-Top-Menu 
    title=" 'Dashboard' " 
    selected-Data="[]"
    data="['','','','','']"
    button-Functions="button_functions" 
    back-Function="back"
    params = "params"
  >
  </master-Top-Menu>
</div>
<div class="panel ">
  <div class="panel-body">
    <div class="row">

      <div class="col-xs-12 col-sm-3 col-md-3">
        <!-- Nav tabs -->
        <master-menu></master-menu>
        <h4>Directions</h4>
        <ul>
          <li ng-repeat="direction in directions">{{direction}}</li>
        </ul>

      </div>

      <div class="col-xs-12 col-sm-9 col-md-9">

        <div class= "row" >
      
          <div class="col-xs-12 col-sm-8 col-md-8">
            <form name="create_doc_form" role="form">

              <div style="display:inline-block;">
                <label class="control-label" for="newspaper">Newspaper</label> <span class="text-danger"><b>*</b></span><br/>
                <auto-Suggest
                  name = "newspaper"
                  ng-model = "doc.newspaper"
                  options = "newspapers"
                  placeholder=" 'Type a Newspaper' "
                  required
                >
                </auto-Suggest>
                <div>
                  <span ng-show="false && (create_doc_form.newspaper.$error.required)" class="help-block">Required.</span>
                </div>
              </div>

              <div style="display:inline-block; margin-left:10px;">  

                  <label>Date</label> <span class="text-danger"><b>*</b></span><br/>
                  <input name="date" type="date" class="form-control" id="inputPassword" value="11/04/2014" ng-model="doc.date" required>
  
              </div>

              <div style="display:inline-block; margin-left:10px;">
                <label>Type</label> <span class="text-danger"><b>*</b></span><br/>
                <dropdown 
                  ng-Model = "doc.type" 
                  options = "[{text:'Article', value:'Article', class:''}, {text:'Editorial', value:'Editorial', class:''}, {text:'',value:'', class:'divider'}, {text:'Other - Note in Comments', value:'Other', class:''}]"
                >
                </dropdown>
                <br/>
              </div>
              <br/><br/>

              <div class="form-group">
                <label for="txtheadline">Headline</label> <span class="text-danger"><b>*</b></span>
                <textarea name="headline" id="txtheadline" class="form-control" rows="2" ng-model="doc.headline" required></textarea>
              </div>
              <div class="form-group">
                <label for="txtabstract">Abstract</label> <span class="text-danger"><b>*</b></span>
                <textarea name="abstract" id="txtabstract" class="form-control" rows="5" ng-model="doc.abstract" required></textarea>
              </div>

              <div style="display:inline-block; margin-left:0px;">  
                <label>Policy Code</label> <span class="text-danger"><b>*</b></span><br/>
                <div class="btn-group">
                  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    Select a Policy Code<span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Separated link</a></li>
                  </ul>
                </div>
              </div>

              <br/><br/>

              <div class="form-group">
                <label for="txtcomments">Comments</label>
                <textarea name="comments" id="txtcomments" class="form-control" rows="2" ng-model="doc.comments"></textarea>
              </div>
              <button type="button" class="btn btn-default" ng-click="back()">
                Cancel
              </button>
              <button type="button" class="btn btn-primary" ng-click="save()">
                Save
              </button>
              <a ng-href="#/create_newsclip" class="pull-right" ng-show="saved">
              <button type="button" class="btn btn-default">
                Create New Newsclip
              </button>
              </a>
              
              <br/>
              <br/>
              
              <master-Alerts alerts="alerts">
              </master-Alerts>
              
              {{myForm.newspaper.$error}}
            </form>
          </div>
          <div class="col-xs-12 col-sm-4 col-md-4">

            <a href="http://www.cla.temple.edu/papolicy/codebook/" target="_blank" ><button class="btn btn-info btn-md">View Code Book</button></a>

            <br/><br/>
            <b>Pennsylvania</b><br/>
            <input type="checkbox"> Executive<br/>
            <input type="checkbox"> Legislative<br/>
            <input type="checkbox"> Judicial<br/>
            <input type="checkbox"> State Agency<br/>
            <input type="checkbox"> Budget<br/>
            <hr/>
            <b>General</b><br/>
            <input type="checkbox"> Local Govt<br/>
            <input type="checkbox"> Federal<br/>
            <input type="checkbox"> Tax<br/>
            <input type="checkbox"> Elderly<br/>
            <input type="checkbox"> Interest Group<br/>
            <input type="checkbox"> Elections<br/>
          </div>
      </div>

    </div>

  </div><!-- /.panel-body -->
</div><!-- /.panel -->