<div class="panel panel-default">
  <master-Top-Menu 
    title=" 'Dashboard' " 
    selected-Data="[]"
    data="['','','','','']"
    button-Functions="button_functions" 
    back-Function="back"
    params = "params"
    show-Paging = "false"
  >
  </master-Top-Menu>
</div>
<div class="panel ">
  <div class="panel-body">
    <div class="row">

      <div class="col-xs-12 col-sm-3 col-md-3">
        <!-- Nav tabs -->
        <master-menu></master-menu>
        <h4>Directions</h4>
        <ul>
          <li ng-repeat="direction in directions">{{direction}}</li>
        </ul>

      </div>

      <div class="col-xs-12 col-sm-9 col-md-9">
        
        <master-Alerts alerts="urgent_alerts">
        </master-Alerts>

        <div class= "row" >
      
          <div class="col-xs-12 col-sm-8 col-md-8">
            <form name="create_doc_form" role="form">

              <div style="display:inline-block;">
                <label class="control-label" for="newspaper">Newspaper</label> <span class="text-danger"><b>*</b></span><br/>
                <auto-Suggest
                  name = "newspaper"
                  ng-model = "doc.newspaper"
                  options = "newspapers"
                  placeholder=" 'Type a Newspaper' "
                  required
                >
                </auto-Suggest>
                <div>
                  <span ng-show="false && (create_doc_form.newspaper.$error.required)" class="help-block">Required.</span>
                </div>
              </div>

              <div style="display:inline-block; margin-left:10px;">  

                  <label>Date</label> <span class="text-danger"><b>*</b></span><br/>
                  <input name="date" type="date" class="form-control" id="inputDate" value="11/04/2014" ng-model="doc.date_time" required>
  
              </div>

              <div style="display:inline-block; margin-left:10px;">
                <label>Type</label> <span class="text-danger"><b>*</b></span><br/>
                <dropdown 
                  ng-Model = "doc.type" 
                  options = "
                  [{text:'Article', value:'Article', class:''},
                  {text:'Editorial', value:'Editorial', class:''},
                  {text:'Opinion', value:'Opinion', class:''},
                  {text:'Letter', value:'Letter', class:''},
                  {text:'Photograph', value:'Photograph', class:''},
                  {text:'Newswire Story', value:'Newswire Story', class:''},
                  {text:'Cartoon', value:'Cartoon', class:''},
                  {text:'Broadcast Transcript', value:'Broadcast Transcript', class:''},
                  {text:'',value:'', class:'divider'},
                  {text:'Other - Note in Comments', value:'Other', class:''}]"
                  text-Field = "text"
                  placeholder = " 'Select a type' "
                >
                </dropdown>
                <br/>
              </div>
              <br/><br/>

              <div class="form-group">
                <label for="txtheadline">Headline</label> <span class="text-danger"><b>*</b></span>
                <textarea name="headline" id="txtheadline" class="form-control" rows="2" ng-model="doc.headline" required></textarea>
              </div>
              <div class="form-group">
                <label for="txtabstract">Abstract</label> <span class="text-danger"><b>*</b></span>
                <textarea name="abstract" id="txtabstract" class="form-control" rows="5" ng-model="doc.abstract" required></textarea>
              </div>

              <div style="display:inline-block; margin-left:0px;">  
                <label>Policy Code</label> <span class="text-danger">*</span><br/>
                <dropdown 
                  ng-Model = "doc.code" 
                  options = "policy_codes"
                  text-Field = " 'id' "
                  value-Field = " 'id' "
                  description-Field = " 'description' "
                  search = " 'true' "
                  placeholder = " 'Select a topic' "
                >
                </dropdown>
              </div>

              <br/><br/>

              <div class="form-group">
                <label for="txtcomments">Comments</label>
                <textarea name="comments" id="txtcomments" class="form-control" rows="2" ng-model="doc.comments"></textarea>
              </div>
              <button type="button" class="btn btn-default" ng-click="back()">
                Cancel
              </button>
              <button type="button" class="btn btn-primary {{ (saving)?'disabled':'' }}" ng-click="save()" >
                {{ (saving)?'Saving...':'Save' }}
              </button>
              <a ng-href="#/create_newsclip" class="pull-right" ng-show="saved">
              <button type="button" class="btn btn-default" ng-click="reload_page()">
                Create New Newsclip
              </button>
              </a>
              
              <br/>
              <br/>
              
              <master-Alerts alerts="alerts">
              </master-Alerts>
              
              {{myForm.newspaper.$error}}
            </form>
          </div>
          <div class="col-xs-12 col-sm-4 col-md-4">

            <a href="http://www.cla.temple.edu/papolicy/codebook/" target="_blank" ><button class="btn btn-info btn-md">View Code Book</button></a>

            <br/><br/>
            <b>Pennsylvania</b><br/>
            <input type="checkbox" ng-model="doc.executive" ng-true-value="1" ng-false-value="0"> Executive<br/>
            <input type="checkbox" ng-model="doc.leg" ng-true-value="1" ng-false-value="0"> Legislative<br/>
            <input type="checkbox" ng-model="doc.jud" ng-true-value="1" ng-false-value="0"> Judicial<br/>
            <input type="checkbox" ng-model="doc.sta_ag" ng-true-value="1" ng-false-value="0"> State Agency<br/>
            <input type="checkbox" ng-model="doc.budget" ng-true-value="1" ng-false-value="0"> Budget<br/>
            <hr/>
            <b>General</b><br/>
            <input type="checkbox" ng-model="doc.local_govt" ng-true-value="1" ng-false-value="0"> Local Govt<br/>
            <input type="checkbox" ng-model="doc.fed" ng-true-value="1" ng-false-value="0"> Federal<br/>
            <input type="checkbox" ng-model="doc.tax" ng-true-value="1" ng-false-value="0"> Tax<br/>
            <input type="checkbox" ng-model="doc.elderly" ng-true-value="1" ng-false-value="0"> Elderly<br/>
            <input type="checkbox" ng-model="doc.int_group" ng-true-value="1" ng-false-value="0"> Interest Group<br/>
            <input type="checkbox" ng-model="doc.elec" ng-true-value="1" ng-false-value="0"> Elections<br/>
          </div>
      </div>

    </div>

  </div><!-- /.panel-body -->
</div><!-- /.panel -->

<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="deleteModalLabel">Delete</h4>
      </div>
      <div class="modal-body">
        Are you sure you want to delete this newsclip
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" ng-click="delete()">Delete</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="batchModal" tabindex="-1" role="dialog" aria-labelledby="batchModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="deleteModalLabel">Add Newsclip to Batch</h4>
      </div>
      <div class="modal-body">
      
        <label>Select a batch to add to</label> <span class="text-danger"><b>*</b></span><br/>
        
  			<select 
				  ng-model="selected_batch"
				  ng-options="b.name group by b.year for b in batches"
				  class = "selectpicker" 
					data-live-search = "true" 
					data-size = "7"
					data-show-subtext="true"
					title='Select a batch to add to'
				  ></select>
			
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary {{ (adding_documents_to_batch)?'disabled':'' }}" ng-click="add_to_batch()" >
          {{ (adding_documents_to_batch)?'Adding...':'Add' }}
        </button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->