<div class="btn-group">
  <button type="button" class="btn btn-default dropdown-toggle  {{ (disabled)?'disabled':'' }}" data-toggle="dropdown">
    {{selected_value}} <span class="small muted text-muted" style="font-size:10px;">{{ selected_option['description'] }}</span><span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu">
    <li ng-show="search" class="disabled-link" style="margin:10px"><input type="text" class="form-control" id="search" placeholder="Search" ng-model="query"></li>
    <li ng-show="search" class="divider"></li>
    <li ng-repeat="option in options | filter:query" class="{{option.class}}"><a ng-show=" (option.class != 'divider') " ng-click="select(option)">{{option[text_field]}} <span class="small muted text-muted" style="font-size:10px;">{{option[description_field]}}</span></a></li>
  </ul>
</div>

<script>
$(".disabled-link, .divider, .dropdown-header").click(function(event) {
    event.stopPropagation();
  });
</script>
