<div class="panel panel-default">
  <master-Top-Menu 
  title=" 'Dashboard' " 
  selected-Data="selected_files"
  data="files"
  button-Functions="button_functions" 
  back-Function="back"
  params = "params"
  total-rows=" totalRows "
  toggle-select-all-function="toggle_select_all"
  >
  </master-Top-Menu>
</div>
<div class="panel ">
  <div class="panel-body">
    <div class="row">

      <div class="col-xs-12 col-sm-3 col-md-3">
        <!-- Nav tabs -->
        <master-Menu/>
        <hr/>
        <h4>Directions</h4>
        <ul>
          <li ng-repeat="direction in directions">{{direction}}</li>
        </ul>

      </div>

      <div class="col-xs-12 col-sm-9 col-md-9">
      
        <master-Alerts alerts="alerts">
        </master-Alerts>
      
        <!-- Tab panes -->
        <div class="tab-content">
          <div class="tab-pane active" id="documents">
            <master-Table columns="columns" data="files" table-Row-Click="details" table-Row-Select="toggle_select" search-Query="query">
              
            </master-Table>
          </div>
        </div>

      </div>

    </div>

  </div><!-- /.panel-body -->
</div><!-- /.panel -->

<!-- Modal -->
  <div class="modal fade" id="createFileModal" tabindex="-1" role="dialog" aria-labelledby="createFileModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="createFileModalLabel">Upload File</h4>
        </div>
        <div class="modal-body">
          <div style="text-align:center">
            <form enctype="multipart/form-data" action="http://pn.localhost/codeigniter-restserver-master/index.php/api/image/create" method="post">
              <input name="userfile" type="file" class="btn btn-default btn-lg" style="display:inline-block; width:300px;"  size="20"  />
              <input type="submit" name="submit" value="upload"  class="btn btn-primary btn-lg" style="display:inline-block;" />
            </form>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

  <!-- Modal -->
  <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="deleteModalLabel">Delete</h4>
        </div>
        <div class="modal-body">
          Are you sure you want to delete {{selected_files.length}} files
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" ng-click="delete()">Delete</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

  <div class="modal fade" id="downloadModal" tabindex="-1" role="dialog" aria-labelledby="downloadModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="deleteModalLabel">Download this file</h4>
        </div>
        <div class="modal-body" style="text-align:center">
          <a href="{{downloadLink}}" alt="download {{downloadName}}" title="download {{downloadName}}"><button class="btn btn-default btn-lg">Download <b>"{{downloadName}}"</b></button></a>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
  
<div class="modal fade" id="assignModal" tabindex="-1" role="dialog" aria-labelledby="assignModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="deleteModalLabel">Create A Batch Assignment</h4>
      </div>
      <div class="modal-body" style="text-align:center;">
        <!-- Single button -->
        <label>Task</label> <span class="text-danger"><b>*</b></span><br/>
        <dropdown 
          ng-Model = "assignment.type"
          placeholder = " 'Select Task' "
          text_field = " 'name' "
          text_value = " 'id' "
          options = " [{name:'Enter documents', id:1}] "
          return-Object = " 'true' "
        >
        </dropdown>
        <br/>
        <br/>
        <div>
          <label>Assignee</label> <span class="text-danger"><b>*</b></span><br/>
          <dropdown 
            ng-Model = "assignment.user"
            placeholder = " 'Select Assignee' "
            options = "users"
            text_field = " 'name' "
            return-Object = " 'true' "
          >
          </dropdown>
        </div>
        <br/>
        <div>
          <label>Due Date</label> <span class="text-danger"><b>*</b></span><br/>
          <input name="date" type="date" class="form-control" id="inputDate" value="11/04/2014" ng-model="assignment.date_due" required>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" ng-click="assign()" >Assign</button>
      </div>
      
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->