<div id="footer_wrapper">
      <div id="footer">
        
          <div id="contact">
        
                <div class="box three2 first">
                    <div class="box dynamic_sidebar widget  widget_text">     <div class="textwidget"><h3><img src="http://www.cla.temple.edu/papolicy/files/2013/05/web-communications-footer-icon-location.png" class="footer_icon">  PA Policy Database Project</h3>
                      <h4>College of Liberal Arts</h4>
                      <p>840 Anderson Hall <br> 1114 Polett Walk <br>Philadelphia, PA 19122</p></div>
                  </div>    
                </div>
                
                <div class="box three2">
                    <div class="box dynamic_sidebar widget  widget_nav_menu"><div class="menu-footer-utilities-container"><ul id="menu-footer-utilities" class="menu"><li id="menu-item-218" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-218"><a href="http://directory.temple.edu/"><img src="http://www.cla.temple.edu/papolicy/files/2013/05/web-communications-footer-icon-directory.png" class="footer_icon"> Directory</a></li>
<li id="menu-item-219" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-219"><a href="http://temple.edu/maps-and-directions"><img src="http://www.cla.temple.edu/papolicy/files/2013/05/web-communications-footer-icon-maps.png" class="footer_icon"> Maps and Directions</a></li>
<li id="menu-item-230" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-230"><a href="http://www.cla.temple.edu/papolicy/contact-us/"><img src="http://www.cla.temple.edu/papolicy/files/2013/05/web-communications-footer-icon-contact.png" class="footer_icon"> Contact</a></li>
</ul></div></div>   
                </div>
                
                <div class="box three2 last">
                        
                </div>
            
            </div>
            
            <div class="clear"></div>
             
            
             <div id="footerUtilities_wrapper"> 
             
                <div id="footerUtilities">
                
                    
                   
                        <!-- footer links -->
                         
                            <ul id="menu-rt-theme-footer-navigation-menu" class="footer_links"><li id="menu-item-216" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-216 first"><a href="http://tuportal.temple.edu">TUPORTAL</a></li>
<li id="menu-item-217" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-217"><a href="http://tumail.temple.edu">TUMAIL</a></li>
<li id="menu-item-231" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-231"><a href="http://www.cla.temple.edu/papolicy/sitemap/">SITEMAP</a></li>
<li id="menu-item-222" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-222"><a href="http://temple.edu/about/temple-university-accessibility-statement">Accessibility</a></li>
<li id="menu-item-223" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-223"><a href="http://policies.temple.edu/">Policies</a></li>
<li id="menu-item-224" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-224"><a href="http://www.temple.edu/hr/departments/employment">Careers at Temple</a></li>
</ul>                         
                        <!-- / footer links -->
                            
                        <!-- copyright text -->
                        <div class="copyright">Copyright  © 2013, Temple University. All rights reserved. Designed and developed by the College of Liberal Arts.</div>
                        <!-- / copyright text --> 
                    </div>  
                </div>  
        </div>
    </div>