<div class="panel-body"  style="padding-bottom: 0px;" >
	<h3 style="margin-top: 7px; margin-bottom: 0px;">Developer Docs</h3>
</div>
<hr/>
<div class="container">
	<h1>PPDP AngularJS Directives Guide</h1>
	
	<hr/>
	<br/>
	<h2>Alerts</h2>

	<div class="panel panel-default" style="position:relative">

		<div class="panel-body">
			<b class="text-muted">EXAMPLE</b><br/><br/>
			<master-Alerts alerts="alerts">
        	</master-Alerts>
			<br/><br/>
      		<div class="well">
		      <span class="text-muted">Selected Value: </span>{{alerts}}
		    </div>
		</div>
		<div class="panel-footer" ng-Model="alertsCode" lang="'html'" ace>
		</div>	
	</div>

	<b>Options</b>
	<div class="table-responsive">
		<table class="table table-bordered table-striped">
		  <thead>
		   <tr>
		     <th style="width: 100px;">Name</th>
		     <th style="width: 50px;">type</th>
		     <th style="width: 50px;">default</th>
		     <th>description</th>
		   </tr>
		  </thead>
		  <tbody>
		   <tr>
		     <td>alerts *</td>
		     <td>array [objects]</td>
		     <td> N/A </td>
		     <td>Array list of alert objects to be shown as bootstrap alerts</td>
		   </tr>
		  </tbody>
		</table>
	</div>


	<hr/>
	<br/>
	<h2>Auto Suggest</h2>
	
	<div class="panel panel-default" style="position:relative">

		<div class="panel-body">
			<b class="text-muted">EXAMPLE</b><br/><br/>
			<auto-Suggest
				ng-model = "autoSuggestCodeModel"
				options = "autoSuggestOptions"
        value-Field = " 'name' "
				placeholder=" 'Search for an option' "
				required
			>
			</auto-Suggest>
			<br/><br/>
      <div class="well">
      	<span class="text-muted">$scope.options = {{autoSuggestOptions}}; </span>
      	<br/><hr/>
	      <span class="text-muted">Selected Value: </span>{{autoSuggestCodeModel}}
	    </div>
		</div>
		<div class="panel-footer" ng-Model="autoSuggestCode" lang="'html'" ace>
		</div>
	</div>

	<b>Options</b>
	<div class="table-responsive">
		<table class="table table-bordered table-striped">
		  <thead>
		   <tr>
		     <th style="width: 100px;">Name</th>
		     <th style="width: 50px;">type</th>
		     <th style="width: 50px;">default</th>
		     <th>description</th>
		   </tr>
		  </thead>
		  <tbody>
		   <tr>
		     <td>ng-Model *</td>
		     <td>variable</td>
		     <td> N/A </td>
		     <td>AngularJs model variable which is bound to input.</td>
		   </tr>
		   <tr>
		     <td>options *</td>
		     <td>array [objects]</td>
		     <td>null</td>
		     <td>Array of objects to be displayed as dropdown</td>
		   </tr>
		   <tr>
		     <td>placeholder</td>
		     <td>string</td>
		     <td>'text'</td>
		     <td>Place holder text which appears when nothing is selected.</td>
		   </tr>
		   <tr>
		     <td>disabled</td>
		     <td>boolean</td>
		     <td>false</td>
		     <td>Shows the modal when initialized.</td>
		   </tr>
		  </tbody>
		</table>
	</div>

	<hr/>
	<br/>
	<h2>Calendar</h2>
	
	<div class="panel panel-default" style="position:relative">

		<div class="panel-body">
			<b class="text-muted">EXAMPLE</b><br/><br/>
			<calender-Input
				ng-model = "calendarModel"
				disabled = " '' "
			>
			</calender-Input>
			<br/><br/>
      <div class="well">
	      <span class="text-muted">Selected Value: </span>{{calendarModel}}
	    </div>
		</div>
		<div class="panel-footer" ng-Model="callenderCode" lang="'html'" ace>
		</div>	
	</div>

	<b>Options</b>
	<div class="table-responsive">
		<table class="table table-bordered table-striped">
		  <thead>
		   <tr>
		     <th style="width: 100px;">Name</th>
		     <th style="width: 50px;">type</th>
		     <th style="width: 50px;">default</th>
		     <th>description</th>
		   </tr>
		  </thead>
		  <tbody>
		   <tr>
		     <td>ng-Model *</td>
		     <td>variable</td>
		     <td> N/A </td>
		     <td>AngularJs model variable which is bound to input.</td>
		   </tr>
		   <tr>
		     <td>disabled</td>
		     <td>boolean</td>
		     <td>false</td>
		     <td>If true user will not be able to interact with callender.</td>
		   </tr>
		  </tbody>
		</table>
	</div>

	<hr/>
	<br/>
	<h2>Dropdown</h2>
	
	<div class="panel panel-default" style="position:relative">

		<div class="panel-body">
			<b class="text-muted">EXAMPLE</b><br/><br/>
			<dropdown 
          ng-Model = "dropdownCodeModel" 
          options = "dropdownOptions"
          text-Field = " 'text' "
          value-Field = " 'value' "
          description-Field = " 'description' "
          search = " 'true' "
          placeholder = " 'Select a type' "
        >
      </dropdown>
      <br/><br/>
      <div class="well">
      	<span class="text-muted">$scope.options = {{dropdownOptions}}; </span>
      	<br/><hr/>
	      <span class="text-muted">Selected Value: </span>{{dropdownCodeModel}}
	    </div>
      <hr/>
      <div  id="accordion">
			  <div >
	        <h5 class="text-muted" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
	          Customize
	        </h5>
			    <div id="collapseOne" class="panel-collapse collapse in">


			    </div>
			  </div>
			</div>

		</div>
		<div ace class="panel-footer" ng-Model="dropdownCode" lang="'html'">
		</div>
	</div>

	<b>Options</b>
	<div class="table-responsive">
		<table class="table table-bordered table-striped">
		  <thead>
		   <tr>
		     <th style="width: 100px;">Name</th>
		     <th style="width: 50px;">type</th>
		     <th style="width: 50px;">default</th>
		     <th>description</th>
		   </tr>
		  </thead>
		  <tbody>
		   <tr>
		     <td>ng-Model *</td>
		     <td>variable</td>
		     <td> N/A </td>
		     <td>AngularJs model variable which is bound to input.</td>
		   </tr>
		   <tr>
		     <td>options *</td>
		     <td>array [objects]</td>
		     <td>null</td>
		     <td>Array of objects to be displayed as dropdown</td>
		   </tr>
		   <tr>
		     <td>text-Field</td>
		     <td>string</td>
		     <td>'text'</td>
		     <td>String name of object field to be shown as dropdown option label.</td>
		   </tr>
		   <tr>
		     <td>value-Field</td>
		     <td>string</td>
		     <td>'text'</td>
		     <td>String name of object field which contains value of selected option.</td>
		   </tr>
		   <tr>
		     <td>description-Field</td>
		     <td>string</td>
		     <td>'text'</td>
		     <td>String name of object field which contains description to be shown beside dropdown option label for each option.</td>
		   </tr>
		   <tr>
		     <td>placeholder</td>
		     <td>string</td>
		     <td>'text'</td>
		     <td>Place holder text which appears when nothing is selected.</td>
		   </tr>
		   <tr>
		     <td>extraOptions</td>
		     <td>array</td>
		     <td>'text'</td>
		     <td>Options which apear at bottom of dropdown.</td>
		   </tr>
		   <tr>
		     <td>returnObject</td>
		     <td>boolean</td>
		     <td>false</td>
		     <td>If true dropdown will return selected object. If false dropdown will only return selected value.</td>
		   </tr>
		   <tr>
		     <td>search</td>
		     <td>boolean</td>
		     <td>false</td>
		     <td>If true dropdown will be searchable.</td>
		   </tr>
		   <tr>
		     <td>disabled</td>
		     <td>boolean</td>
		     <td>false</td>
		     <td>If true user will not be able to interact with dropdown.</td>
		   </tr>
		  </tbody>
		</table>
	</div>

	<hr/>
	<br/>
	

</div>
