<div class="container">

  <div class="starter-template">
    <h3>PA Policy Project Content Management</h3>
    <p class="text-muted">login with your Temple email.</p>
    <br/><br/>
    <form role="form" name="login_form" style=" width:300px; margin:0px auto; ">
      <div style="text-align:left;">
        <div class="form-group">
          <label for="exampleInputEmail1">Username</label>
          <input name="email" type="text" class="form-control" id="exampleInputEmail1" placeholder="Enter email" ng-model="account.username" required>
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input name="password" type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" ng-model="account.password" required>
        </div>
      </div>
      <br/>
      <button type="button" type="submit" class="btn btn-primary btn-md btn-block {{ (loading)?'disabled':'' }}" ng-click="login()" >
        {{ (loading)?'Logging In...':'Login' }} <img ng-show ="loading" src="images/ajax-loader-red.gif"/>
      </button>
      <br/>
      <a href="https://accounts.temple.edu/selfcare/identification.jsp">Forgot Password</a>
      
      <br/>
      <br/>
      
      <master-Alerts alerts="alerts">
      </master-Alerts>
    </form>
  </div>

</div><!-- /.container -->