<div class="container">

  <div class="starter-template">
    <h3>PA Policy Project Content Mangement</h3>
    <p class="text-muted">login with your Temple email.</p>
    <br/><br/>
    <form role="form" style=" width:300px; margin:0px auto; ">
      <div style="text-align:left;">
        <div class="form-group">
          <label for="exampleInputEmail1">Email address</label>
          <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
        </div>
      </div>
      <br/>
      <button ng-click="login()" type="submit" class="btn btn-primary btn-md btn-block">Login</button>
      <br/>
      <a href="#">Forgot Password</a>
    </form>
  </div>

</div><!-- /.container -->