<div class="panel panel-default">
  <master-Top-Menu 
  title=" 'Dashboard' " 
  selected-Data="selected_documents"
  data="documents"
  button-Functions="button_functions" 
  back-Function="back"
  params = "params"
  total-rows=" totalRows "
  toggle-select-all-function="toggle_select_all"
  >
  </master-Top-Menu>
</div>
<div class="panel ">
  <div class="panel-body">
    <div class="row">

      <div class="col-xs-12 col-sm-3 col-md-3">
      
        <master-Menu>
        </master-Menu>
        
        <hr/>
        <h4>Directions</h4>
        <ul>
          <li ng-repeat="direction in directions">{{direction}}</li>
        </ul>
      </div>

      <div class="col-xs-12 col-sm-9 col-md-9">
        <!-- Tab panes -->
        <div class="tab-content">
          <div class="tab-pane active" id="documents">
          
            <master-Alerts alerts="alerts">
            </master-Alerts>
            
            <master-Table columns="columns" data="documents" table-Row-Click="details" table-Row-Select="toggle_select" search-Query="params.query">
            </master-Table>
            
          </div>
        
        </div>

      </div>

    </div>

  </div><!-- /.panel-body -->
</div><!-- /.panel -->

<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="deleteModalLabel">Delete</h4>
      </div>
      <div class="modal-body">
        Are you sure you want to delete {{selected_documents.length}} news clips
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" ng-click="delete()">Delete</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="batchModal" tabindex="-1" role="dialog" aria-labelledby="batchModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="deleteModalLabel">Add Newsclip to Batch</h4>
      </div>
      <div class="modal-body">
        <!-- Single button -->
        <auto-Suggest
          name = "batch"
          ng-model = "batch"
          options = "batches"
          return-Object = " 'true' "
          placeholder = " 'Select a batch' "
          required
        >
        </auto-Suggest>
        {{batch}}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Add</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->