<!-- Nav tabs -->
<ul class="nav nav-pills nav-stacked">
  <li class="{{link.class}}" ng-repeat="link in menu" ><a href="{{link.href}}" alt="{{link.title}}" title="{{link.title}}">{{link.title}}</a>
    <ul ng-show="link.menu && link.class == 'active' ">  
      <li style="padding:5px 0;" ng-repeat="link in link.menu" ng-switch on="link.type">
      	<a href="{{link.href}}" ng-click="link.click()" alt="{{link.title}}" title="{{link.title}}" ng-switch-default>
      		{{link.title}}
      	</a>
      	<a href="{{link.href}}" ng-click="link.click()" alt="{{link.title}}" title="{{link.title}}" ng-switch-when="button">
	  		  <button class="btn btn-default" ng-if="link.type=='button'">
	  				{{link.title}}
	  		  </button>
  		  </a>
  		  <div class="btn-group" ng-switch-when="dropdown">
				  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
				    {{link.title}} <span class="caret"></span>
				  </button>
				  <ul class="dropdown-menu" role="menu">
				    <li ng-repeat="option in link.options"><a href="{{option.href}}" ng-click="option.click()" alt="{{option.title}}" title="{{option.title}}">{{option.title}}</a></li>
				  </ul>
				</div>
      	
      </li>
    </ul>
  </li>
</ul>