<p class="text-center" ng-show="loading">
  <br/><br/><br/>
  <img src="images/ajax-loader.gif"/>
  <b>Loading...</b>
</p>

<table class="table table-hover" ng-show="data.length > 0">
  <thead>
    <tr>

      <td><b>Select</b></td>
      <td ng-repeat="column in columns"><b  ng-click="table_header_click_function(column.field_text)">{{column.text}}<span ng-show="predicate == column.field_text"> {{arrow}}</span></b></td> 
    </tr>

  </head>
  <tbody>
    <tr ng-repeat="row in data | filter:query | orderBy:predicate:reverse" ng:init="rowIndex = $index">
    
      <td><input type="checkbox" ng-click="table_data_select_function(rowIndex)" ng-model="row.selected"></td>
      <td ng-repeat="column in columns" ng-click="table_data_click_function(rowIndex,row)">
      {{ column.value(row) }}
      </td>
      
    </tr>
  </tbody>
</table>
<div class="alert alert-info" ng-show = " data.length == 0 && !loading">
  No results were returned
</div>