<div class="panel-body" >

  <div class="row" ng-show="selected_data.length == 0 && (params.limit != 1)">

    <div class="col-xs-12 col-sm-3 col-md-3">
        <h3 style="margin-top: 7px; margin-bottom: 0px;">{{title}}</h3>
    </div>

    <div class="col-xs-12 col-sm-9 col-md-9">
      <span class="pull-left">
        
  
        <button type="button" class="btn btn-default" ng-click="toggle_select_all_function(); checked = 'true'" >
          <input name="selectAll" type="checkbox" style="z-index:10; margin:0px"> 
          <span for="selectAll" >Select All</span>
        </button>

      </span>

      <span class="pull-left" style="display:inline-block; margin-left:5px">
        <div class="input-group" style="width:300px; ">
          <input type="text" class="form-control" placeholder="Search" ng-model="params.query">
          <div class="input-group-btn">
            <button type="button" class="btn btn-default" >
              <span class="glyphicon glyphicon-search"></span>
            </button>
          </div>
        </div>
      </span>

      <span class="pull-right">

        <div class="btn-group">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
            Filter <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">All</a></li>
            <li><a href="#">Unresolved</a></li>
            <li><a href="#">Resolved</a></li>
            <li><a href="#">Published</a></li>
            <li><a href="#">Status</a></li>
          </ul>
        </div>
     
        <div class="btn-group">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
            <span class="text-muted">{{page_description}} </span> <b>{{params.offset+1}}</b>-<b>{{displayed_limit}}</b> of <b>{{ num_rows }}</b> <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu">
            <li><a ng-click = "params.limit = 5" ><b>5</b></a></li>
            <li><a ng-click = "params.limit = 10"><b>10</b></a></li>
            <li><a ng-click = "params.limit = 25"><b>25</b></a></li>
            <li><a ng-click = "params.limit = 50"><b>50</b></a></li>
            <li><a ng-click = "params.limit = 100"><b>100</b></a></li>
            <li><a ng-click = "params.limit = 100000">All</a></li>
          </ul>
        </div>

        <div class="btn-group">
          <button id="left_button" type="button" class="btn btn-default" ng-click="previous_page()" title="Previous" alt="Previous"> 
            <span class="glyphicon glyphicon-chevron-left"></span>
          </button>
          <button id="right_button" type="button" class="btn btn-default" ng-click="next_page()" title="Next" alt="Next">
            <span class="glyphicon glyphicon-chevron-right"></span>
          </button>
        </div>
      </span>
    </div>
  </div>

  <div class= "row" ng-show="selected_data.length > 0 || (params.limit == 1)">
    <div class="col-xs-12 col-sm-3 col-md-3">
        <h3 style="margin-top: 7px; margin-bottom: 0px;">{{title}}</h3>
    </div>

    <div class="col-xs-12 col-sm-9 col-md-9">
  
      <button type="button" class="btn btn-default" ng-click="toggle_select_all_function(); checked = 0" ng-show="params.limit != 1">
        <input name="selectAll" type="checkbox" style="z-index:10; margin:0px" ng-model="checked"> 
        <span for="selectAll" >Select All</span>
      </button>
      
      <a ng-click = "back_function()" ng-show="params.limit == 1">
        <button type="button" class="btn btn-default" title="Back">
          <span class="glyphicon glyphicon-arrow-left"></span>
        </button>
      </a>
      
      <span ng-repeat = "button in button_functions"><button type="button" class="btn btn-default" ng-click="button.function_callback()" title="{{button.text}}" >
         {{button.text}} <span class="glyphicon glyphicon-{{button.glyphicon}}"></span>
      </button> </span>

      <span class="pull-right" ng-show="show_paging">
        <div class="btn-group">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" title="">
            <span class="text-muted">{{page_description}} </span> <b>{{params.offset + 1}}</b> of <b>{{ num_rows }}</b> <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Newest</a></li>
            <li><a href="#">Oldest</a></li>
          </ul>
        </div>

        <div class="btn-group">
          <button type="button" class="btn btn-default" ng-click="previous_page()" title="Previous" alt="Previous">
            <span class="glyphicon glyphicon-chevron-left"></span>
          </button>
          <button type="button" class="btn btn-default" ng-click="next_page()" title="Next" alt="Next">
            <span class="glyphicon glyphicon-chevron-right"></span>
          </button>
        </div>
      </span>
    </div>
  </div>
</div>