<div class="panel panel-default">
  <master-Top-Menu 
    title=" 'Manage Users' " 
    selected-Data="selected_users"
    data="users"
    button-Functions="button_functions" 
    back-Function="back"
    params = "params"
  >
  </master-Top-Menu>
</div>
<div class="panel ">
  <div class="panel-body">
    <div class="row">

      <div class="col-xs-12 col-sm-3 col-md-3">
        <!-- Nav tabs -->
        <ul class="nav nav-pills nav-stacked">
          <li class="active">
            <a href="users.html">Users</a>
            <ul>  
              <li class="active" ><a href="create_user.html" >Add User</a></li>
            </ul>
          </li>

        </ul>
        <hr/>
        <h4>Directions</h4>
        <ul>
          <li ng-repeat="direction in directions">{{direction}}</li>
        </ul>

      </div>

      <div class="col-xs-12 col-sm-9 col-md-9">
      
        <master-Alerts alerts="alerts">
        </master-Alerts>
      
        <master-Table columns="columns" data="users" table-Row-Click="details" table-Row-Select="toggle_select" search-Query="params.query">
        </master-Table>
           
      </div>

    </div>

  </div><!-- /.panel-body -->
</div><!-- /.panel -->